<footer class="nk-footer">
    
    <div class="section section-footer section-m bg-dark">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block block-footer">
                <div class="row">
                    <div class="col">
                        <div class="wgs wgs-text text-center mb-3">
                            <ul class="social pdb-l justify-content-center">
                                <li><a href="https://fb.me/trvltoken.io"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                <li><a href="https://twitter.com/Trvltokenio"><em class="social-icon fab fa-twitter"></em></a></li>
                                <li><a href="https://www.instagram.com/trvltoken.io/"><em class="social-icon fab fa-instagram"></em></a></li>
                                <li><a href="https://t.me/trvltokenio"><em class="social-icon fab fa-telegram"></em></a></li>
                            </ul>
                            <a href="./" class="footer-logo">
                                <img src="/img/logo-full-orange.png" srcset="/img/logo-full-orange.png" alt="logo"
                                    width="250px">
                            </a>
                            <div class="pdt-m">
                                <p style="color:#E4E5E5 !important;">Copyright &copy; 2022, TRVL Token <br> All trademarks and copyrights belong
                                    to their respective owners.</p>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
        <div class="nk-ovm shape-s-sm shape-center-bottom ov-h"></div>
    </div>
</footer>