<section class="section bg-white">
    <div class="container">
        <!-- Block @s -->
        <div class="nk-block nk-block-lg nk-block-features-s2">
            <div class="row align-items-center flex-row-reverse gutter-vr-30px">
                <div class="col-md-6">
                    <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="/images/gfx/gfx-s-light.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-md-6">
                    <!-- Section Head @s -->
                    <div class="nk-block-text">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp"
                            data-delay=".2">Tour & Travel Market Analysis</h6>
                        <h4 class="title title-md animated" data-animate="fadeInUp" data-delay=".3">Covid Endemic
                        </h4>
                        <p class="animated" data-animate="fadeInUp" data-delay=".4">All Travelers from all arround the world will be happy with covid19 pandemic become endemic and they want to arrange their
                            travel plan in June 2022.
                        </p>
                        <h4 class="title title-md animated" data-animate="fadeInUp" data-delay=".5">Governmental or economic issues
                        </h4>
                        <p class="animated" data-animate="fadeInUp" data-delay=".6">a lot of support for tourism industry from the government from
                            all over the world, because travel industry Globally, travel and
                            tourism's direct contribution to GDP was approximately 4.7
                            trillion U.S. dollars in 2020. This industry's market size was
                            forecast to rise to 1.3 trillion U.S. dollars in 2021.</p>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <!-- Block @s -->
        <div class="nk-block nk-block-lg nk-block-features-s2">
            <div class="row align-items-center gutter-vr-30px">
                <div class="col-md-6">
                    <div class="gfx animated" data-animate="fadeInUp" data-delay=".1">
                        <img src="/images/gfx/gfx-t-light.png" alt="gfx">
                    </div>
                </div><!-- .col -->
                <div class="col-md-6">
                    <!-- Section Head @s -->
                    <div class="nk-block-text">
                        <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp"
                            data-delay=".2">TRVL SOLUTION</h6>
                        
                        <p class="animated" data-animate="fadeInUp" data-delay=".4">Capitalising on the new services that tourism businesses and creative industries have been providing to destinations in times of crisis brings
                            an opportunity to create stronger ties with local communities, integrate local wisdom and enhance local satisfaction with tourism. Communities may need
                            business mentorship for their local entrepreneurship ventures to improve their supply chain inclusion. Furthermore, stronger local value chains bring
                            social and economic benefits to local communities, reduce dependence on foreign suppliers while supporting the circularity of tourism operations.
                            Empowering local community will help TRVL Token Grow faster. More than 50% of TRVL Token will help the local community to develop their tourism. It
                            will help create a lot of job opportunities, bring the economy grow after covid-19 outbreak.
                            </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".5">The commitment of the tourism stakeholders to transform the sector is supported through Traveling Token for the Transition to a Green
                            Travel and Tourism Economy. They are the synthesis of the growing consensus that recovering from the COVID-19 pandemic must also tackle the
                            underlying reasons and sustainability challenges.
                            </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".6">With this focus, the TRVL Tokenomics are making a historical step forward for the transformation of the tourism sector, a step which should not be
                            underestimated in its importance. The TRVL Tokenomics provide a framework to ensure that political and financial voluntary support from the TRVL
                            Tokenomics build tourism back better is coordinated and coherent to maximise its impact, now using the blockchain technology.
                            
                            </p>
                        <p class="animated" data-animate="fadeInUp" data-delay=".7">
                            At the same time, the TRVL Token offer the possibility to carry out regular and voluntary “sharing of experiences” to track progress and
achieve what it is aimed for – a more resilient and inclusive tourism model built on the principles of sustainability for people, planet, and prosperity
                            </p>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .block @e -->
        <!-- Block @s -->
        
    </div>
</section>