<section class="section bg-light" id="roadmap">
    <div class="container">
        <div class="section-head section-head-s9 wide-md">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">
                Timeline</h6>
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">TRVL Token RoadMap</h2>
            <div class="wide-sm">
            </div>
        </div>
        <!-- Section Head @s -->
        <!-- Block @s -->
        <div class="nk-block nk-block-left">
            <div class="roadmap-all mgb-m50 animated" data-animate="fadeInUp" data-delay=".4">
                <div class="roadmap-wrap roadmap-wrap-done roadmap-wrap-s1 roadmap-wrap-s1-alt mb-0 ml-0">
                    <div class="row no-gutters">
                        <div class="col-lg">
                            <div class="roadmap roadmap-s1  roadmap-s1-alt roadmap-done text-lg-center">
                                <div class="roadmap-step roadmap-step-s1">
                                    <div class="roadmap-head roadmap-head-s1">
                                        <span class="roadmap-time roadmap-time-s1">Q3 2022</span>
                                    </div>
                                    <ul class="roadmap-step-list roadmap-step-list-s1">
                                        <li>Fair Launch 5 June 2022</li>
                                        <li>Traveling Package : Europe</li>
                                        <li>Marketing : Market Campain & Soscial Media Merketing : Europe</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg">
                            <div class="roadmap roadmap-s1  roadmap-s1-alt  text-lg-center">
                                <div class="roadmap-step roadmap-step-s1">
                                    <div class="roadmap-head roadmap-head-s1">
                                        <span class="roadmap-time roadmap-time-s1">2022 Q4</span>
                                    </div>
                                    <ul class="roadmap-step-list roadmap-step-list-s1">
                                        <li>List in CMC, CG, Trust Wallet</li>
                                        <li>Traveling Package : Se-Asia</li>
                                        <li>Marketing : Travel Rush Package</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg">
                            <div class="roadmap roadmap-s1  roadmap-s1-alt  text-lg-center">
                                <div class="roadmap-step roadmap-step-s1">
                                    <div class="roadmap-head roadmap-head-s1">
                                        <span class="roadmap-time roadmap-time-s1">2023 Q1</span>
                                    </div>
                                    <ul class="roadmap-step-list roadmap-step-list-s1">
                                        <li>20.000 Holder</li>
                                        <li>Traveling Package : Se-Asia</li>
                                        <li>Marketing : Market Activation</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg">
                            <div class="roadmap roadmap-s1  roadmap-s1-alt  text-lg-center">
                                <div class="roadmap-step roadmap-step-s1">
                                    <div class="roadmap-head roadmap-head-s1">
                                        <span class="roadmap-time roadmap-time-s1">2023 Q2</span>
                                    </div>
                                    <ul class="roadmap-step-list roadmap-step-list-s1">
                                        <li>100.000 Holder</li>
                                        <li>TRVL Trading Competition</li>
                                        <li>Traveling Package : Middle East</li>
                                        <li>Marketing : World Travel Fair 2023</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div>
                
            </div>
        </div><!-- .block @e -->
    </div>
</section>