<section class="section bg-light" id="benifits">
    <div class="container">
        <div class="section-head section-head-s9 wide-sm">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">Marketing</h6>
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Our Marketing Strategy</h2>
            <!-- <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion -->
                <!-- for esports, industry experise &amp; proven record in finance, development, marketing.</p> -->
        </div>
        <!-- Block @s -->
        <div class="nk-block nk-block-features">
            <div class="row gutter-vr-60px gutter-100px">
                <div class="col-12">
                    <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                            <img src="/img/icon/icon-price.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s2">
                            <h2 class="title title-md">Pricing</h2>
                            <p>We have the best price for tour and travel package. We sell tour
                                and Travel bundling with TRVL Token.</p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-12">
                    <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                            <img src="/img/icon/icon-promotion.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s2">
                            <h2 class="title title-md">Promotion</h2>
                            <p>We bring cryptocurrencies as backup for the Business. TRVL Token
                                is the solution for all the travelers all arround the world.
                                </p>
                        </div>
                    </div>
                </div><!-- .col -->
                <div class="col-12">
                    <div class="feature feature-s12 animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="feature-icon feature-icon-lg-s1 m-lg-0">
                            <img src="/img/icon/icon-travel.png" alt="feature">
                        </div>
                        <div class="feature-text feature-text-s2">
                            <h2 class="title title-md">1.000.000 TRVL Token</h2>
                            <p>We Only issued 1.000.000 Tour and Travel Package. with this limited
                                supply the price of token will increase because of the high demand
                                of this Token.</p>
                        </div>
                    </div>
                
            </div><!-- .row -->
        </div><!-- .block @s -->
    </div>
</section>