<section class="section bg-white" id="token">
    <!-- Block @s -->
    <div class="container">
        <div class="section-head section-head-s9 wide-md">
            <h6 class="title title-xs title-s1 tc-primary animated" data-animate="fadeInUp" data-delay=".1">
                Token</h6>
            <h2 class="title animated" data-animate="fadeInUp" data-delay=".2">Token Sale</h2>
            <div class="wide-sm">
                <p class="animated" data-animate="fadeInUp" data-delay=".3">You can sale buy TRVL Token at our Private Sale Event.</p>
            </div>
        </div>
        <div class="nk-block nk-block-token">
            <div class="row gutter-vr-30px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="token-stage text-center animated" data-animate="fadeInUp" data-delay=".4">
                                <div class="token-stage-title token-stage-pre">Private Sale Event I</div>
                                <div class="token-stage-date">
                                    <h6>15 June 2022</h6>
                                    <span>10 Days</span>
                                </div>
                                <div class="token-stage-info">
                                    <span class="token-stage-bonus">20% Bonus</span>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-sm-4">
                            <div class="token-stage text-center animated" data-animate="fadeInUp" data-delay=".5">
                                <div class="token-stage-title token-stage-one">Private Sale Event II</div>
                                <div class="token-stage-date">
                                    <h6>26 June 2022</h6>
                                    <span>5 Days</span>
                                </div>
                                <div class="token-stage-info">
                                    <span class="token-stage-bonus">20% Bonus</span>
                                </div>
                            </div>
                        </div><!-- .col -->
                        <div class="col-sm-4">
                            <div class="token-stage text-center animated" data-animate="fadeInUp" data-delay=".6">
                                <div class="token-stage-title">Private Sale Event III</div>
                                <div class="token-stage-date">
                                    <h6>1 July 2022</h6>
                                    <span>5 Days</span>
                                </div>
                                <div class="token-stage-info">
                                    <span class="token-stage-bonus">10% Bonus</span>
                                </div>
                            </div>
                        </div><!-- .col -->
                    </div><!-- row -->
                    <!-- <div class="token-action-box text-center animated" data-animate="fadeInUp" data-delay=".7">
                        <div class="token-action-title">Join Our <br> Pre-Sale List</div>
                        <div class="token-action-date"><strong>Pre-Sale Start at</strong> 03 July 2022</div>
                        <div class="token-action-btn">
                            <a href="#" class="btn btn-lg btn-grad">Signup &amp; Join</a>
                        </div>
                    </div> -->
                </div><!-- .col -->
                <!-- <div class="col-lg-5">
                    <table class="table table-token table-token-s1 animated" data-animate="fadeInUp" data-delay=".8">
                        <tbody>
                            <tr>
                                <td class="table-head table-head-s1">Token Symbol</td>
                                <td class="table-des table-des-s1">ICOX</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Token Sale Start</td>
                                <td class="table-des table-des-s1">3 July 2022</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Token Sale End</td>
                                <td class="table-des table-des-s1">28 October 2022</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Tokens for sale</td>
                                <td class="table-des table-des-s1">100,500,000</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Specifications</td>
                                <td class="table-des table-des-s1">ICOX token</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Max circulating supply</td>
                                <td class="table-des table-des-s1">175,500,000</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Sale duration</td>
                                <td class="table-des table-des-s1">10 days</td>
                            </tr>
                            <tr>
                                <td class="table-head table-head-s1">Sale duration</td>
                                <td class="table-des table-des-s1">10 days</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>
        <!-- <div class="nk-block">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="sub-heading-s2 animated" data-animate="fadeInUp" data-delay=".1">Token Allocation
                    </h3>
                    <div class="token-bar-chart animated" data-animate="fadeInUp" data-delay=".2">
                        <div class="token-bar-item tbic1" data-percent="8">
                            <div class="token-bar-txt">
                                <span>8%</span>
                                <span>Bounty</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic2" data-percent="12">
                            <div class="token-bar-txt">
                                <span>12%</span>
                                <span>Presale</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic3" data-percent="20">
                            <div class="token-bar-txt">
                                <span>20%</span>
                                <span>Team &amp; Advisor</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic4" data-percent="25">
                            <div class="token-bar-txt">
                                <span>25%</span>
                                <span>Reserve Fund</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic5" data-percent="35">
                            <div class="token-bar-txt">
                                <span>35%</span>
                                <span>Reserve Fund</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mgt-l">
                <div class="col-lg-12">
                    <h3 class="sub-heading-s2 animated" data-animate="fadeInUp" data-delay=".3">Operating
                        Allocation</h3>
                    <div class="token-bar-chart animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="token-bar-item tbic5" data-percent="13">
                            <div class="token-bar-txt">
                                <span>13%</span>
                                <span>Admin &amp; Ops</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic4" data-percent="17">
                            <div class="token-bar-txt">
                                <span>17%</span>
                                <span>Legal &amp; Advisory</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic3" data-percent="25">
                            <div class="token-bar-txt">
                                <span>25%</span>
                                <span>Marketing &amp; Sales</span>
                            </div>
                        </div>
                        <div class="token-bar-item tbic2" data-percent="45">
                            <div class="token-bar-txt">
                                <span>45%</span>
                                <span>Business Dev &amp; Ops</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>