/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version	 :	1.9.5
Updated	 :	04.02.2022
*/
/*! WRITE YOUR CUSTOM STYLE **/




/* 
<!-- logo dark = 002729 -->
<!-- logo orange = ffb000 -->
<!-- logo orange hover = d27c02 -->
<!-- logo white = #E4E5E5 --> */